name: Maven Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - ubuntu-24.04-arm

    runs-on: ${{ matrix.os }}

    name: Run Maven on ${{ matrix.os }}

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: oracle
          java-version: 22
          cache: maven

      - name: 'Run Maven'
        run: mvn -DskipPACtest=true -B test
