name: Publish snapshot library

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: push-snapshot
  cancel-in-progress: true

jobs:
  publish-jar:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: oracle
          java-version: 22
          cache: maven
      - name: Deploy snapshot library to GitHub Packages by Maven
        run: mvn -DskipPACtest=true -B deploy
        env:
          GITHUB_TOKEN: ${{ github.token }}
